$body-bk: hsl( 217, 28%, 13%);
$intro-email:hsl(217, 28%, 15%);
$footer-bk:hsl(216, 53%, 9%);
$testimonials-bk:hsl(219, 30%, 18%);

// Neutral
$White:hsl(0, 0%, 100%);

//  Accent

$Cyan: hsl(176, 68%, 64%);
$Blue: hsl(198, 60%, 50%);
$Light: hsl(0, 100%, 63%);